@import url('https://fonts.cdnfonts.com/css/gandhi-sans');
@import './variables';

:root {

    // Font Size
    font-size: 62.5%;

}

// Global Styles

* {
    box-sizing: border-box;
}

body {
    min-height: 100vh;
    background-image: linear-gradient($primary-linear-bg, $secondary-linear-bg);
    font-family: $font-family;
}

body::-webkit-scrollbar {
    width: 0.3rem;
}

body::-webkit-scrollbar-thumb {
    background-color: $secondary-linear-bg;
    border-radius: 2rem;
}

body::-webkit-scrollbar-track {
    background: linear-gradient($primary-linear-bg, $secondary-linear-bg);
}